body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
}

#main {
    position: relative;
    background-color: black;
    background-image: url('./assets/image/space.png');
    height: 600px;
    width: 1000px;
    margin: auto;
}


#player {
    position: relative;
    height: 50px;
    width: 100px;
    left: 20px;
    top: 250px;
    z-index: 999;
}

.laser {
    position: absolute;
    width: 40px;
    height: 30px;
    background-image: url('./assets/image/shoot.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.alien1,
.alien2,
.alien3 {
    position: absolute;
    height: 55px;
    width: 83px;
    left: 542px;
    z-index: 995;
}

.placar {
    position: absolute;
    display: flex;
    left: 10px;
    top: 10px;
}

.vidas {
    height: 50px;
    width: 130px;

}

.pontos {
    margin: auto;
    margin-left: 20px;
    width: 250px;
    font-size: 35px;
    color: aliceblue;

}

#painel {
    position: absolute;
    height: 400px;
    width: 450px;
    margin: auto;
    background-image: url("./assets/image/painel.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

h1 {
    position: absolute;
    color: aliceblue;
    font-size: 25px;
    left: 150px;
    top: 10px;
}

h2 {
    position: absolute;
    color: aliceblue;
    font-size: 20px;
    left: 152px;
    top: 90px;
}

p {
    position: absolute;
    color: aliceblue;
    font-size: 15px;
    left: 106px;
    top: 140px;
}

strong {
    color: rgb(28, 177, 157);
    font-size: 20px;
}

button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(103, 238, 13, 0.3);
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    left: 112px;
    top: 311px;
}

.explosao1,
.explosao2,
.explosao0 {
    width: 53px;
    height: 80px;
    position: absolute;
    background-image: url("./assets/image/explosion1.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation: playExplosao .8s steps(6) infinite;
    border-radius: 100%;

}

@keyframes playExplosao {
    from {
        background-position: 0px;
    }

    to {
        background-position: -393px;
    }
}